.btn-blue {
	background-color: rgb(172, 10, 3);
	padding: 15px 20px;
	border-radius: 4px;
	color: white;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
}

a:hover {
	color: rgb(30, 30, 30);
}